# Pliki systemowe i IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Środowiska Pythona
venv/
.env
__pycache__/
*.py[cod]

# Baza danych
db.sqlite3

# Statyczne pliki Django (generowane)
static/
staticfiles/
media/

# Node i Vite
node_modules/
dist/
.vite/
.eslintcache

# Logi i cache
*.log
.pytest_cache/
.mypy_cache/

# Pliki tymczasowe i buildowe
*.tmp
*.swp
*.swo

# Sekrety środowiskowe
.env.*
!.env.example
